<!DOCTYPE html>
<html lang="he" dir="rtl">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>הערכת שכר דירה</title>
</head>

<body>
    <h1>הערכת שכר דירה</h1>
    <form method="post">
        <!---->
        <label for="address">כתובת:</label>
        <input type="text" id="address" name="address" value="{{ entered_address }}"><br><br>
        <!---->
        <label for="room_num">מספר חדרים:</label>
        <input type="number" id="room_num" name="room_num" step="0.5" value="{{ entered_room_num }}"><br><br>
        <!---->
        <label for="area">שטח בנוי (מ"ר):</label>
        <input type="number" id="area" name="area" step="5" value="{{ entered_area }}"><br><br>
        <!---->
        <button type="submit">הערך שכר דירה</button>
    </form>

    {% if predicted_price %}
        <div style="direction: ltr; text-align: center;">
            <h2>{{ predicted_price }}</h2>
        </div>
    {% endif %}
</body>
</html>